<ion-view view-title="Login" hide-back-button="true">
  <ion-content class="padding">
    <div style="text-align: center; "class="Login">
      <h1>Welcome to "AppName"</h1>
      <p>We are very happy that you've chosen this Language-Learning-App. To get access to all of
        our offered features, please login with facebook or go ahead as anonymous user.</p><p><b>NOTE:</b> Only Facebook-Login offers social services!</p></br>
      <button class="button button-block button-positive" ui-sref="mainMenu">
        Login with facebook
      </button>
      <button class="button button-block button-assertive" ui-sref="mainMenu">
        Go ahead as anonymous user
      </button>
    </div>
  </ion-content>
</ion-view>
