<ion-view view-title="Main Menu">
  <ion-content class="padding">
    <div class="Menu">
      <div class="row">
        <button style="background: white" class="button button-block" ui-sref="lesson({lessonId: '0'})">
          <img src="img/play.png" height="100px" width="100px">
          <b>Quick Start</b>
        </button>
        <button style="background: white" class="button button-block col-offset-10" ui-sref="browse">
          <img src="img/browse.png" height="100px" width="100px">
          <b>Browse</b>
        </button>
        </div>
      <div class="row">
        <button style="background: white" class="button button-block" ui-sref="search">
          <img src="img/search.png" height="100px" width="100px">
          <b>Search</b>
        </button>
        <button style="background: white" class="button button-block col-offset-10" ui-sref="dictionary">
          <img src="img/dict.png" height="100px" width="100px">
          <b>Dictionary</b>
        </button>
      </div>
      <div class="row">
        <button style="background: white" class="button button-block" ui-sref="status">
          <img src="img/status.png" height="100px" width="100px">
          <b>Status</b>
        </button>
        <button style="background: white" class="button button-block col-offset-10" ui-sref="settings">
          <img src="img/settings.png" height="100px" width="100px">
          <b>Settings</b>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

//style="padding-top: 15%; padding-bottom: 15%"
