<ion-view view-title="Settings">
<ion-content class="padding">
  <ul class="list">
    <li class="item">Account</li>
    <li class="item">About</li>
    <li class="item">Help</li>
    <li class ="item" ng-click="resetData()">Reset Data</li>
    <li class="item item-toggle">
      Sound
      <label class="toggle toggle-balanced">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
    <li>
      <button class="button button-block button-assertive" ui-sref="login">
        Loggout
      </button>
    </li>
  </ul>

</ion-content>
</ion-view>
